<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "BlogWars" %></title>

    <%= stylesheet_link_tag    "application" %>
    <!--javascript_include_tag "application", 'data-turbolinks-track' => true %>-->
    <%= csrf_meta_tags %>
  </head>

  <body>

    <header>
      <div class="top-bar">
        <div class="top-bar-left">
          <ul class="menu">
            <li>
              <%= image_tag("vador.png", alt: "logo", class: "logo") %>
            </li>
            <li class="menu-text">TopicsWars</li>
            <li><%= link_to "Accueil", root_path %></li>
            <li><%= link_to "Liste des sujets", topics_path %></li>
            <li><%= link_to "Liste des réponses", topic_answers_path %></li>
            <li><%= link_to "A propos", about_path %></li>
            <li><%= link_to "Nous contacter", contact_path %></li>
          </ul>
        </div>
        <div class="top-bar-right">
          <ul class="menu">
            <li><%= link_to "Mon profil", profile_path %></li>
          </ul>
        </div>
      </div>
    </header>

    <br />

    <div class="row">
      <div class="medium-8 columns">
    <%= yield %>
      </div>
      <div class="medium-4 columns">
        <!-- liste des sujets recent -->
      </div>
    </div>
  </body>
</html>
